<% include ../partials/header %>

  <header class="jumbotron">
    <div class="container text-center">
      <h1><span class="glyphicon glyphicon-tent"></span>Welcome to OzCamp</h1>
      <p class="text-center">View our handpicked campgrounds from all over Australia!</p>
      <p>
        <a class="btn btn-primary btn-lrg" href="/campgrounds/new">Add a new Campground</a>
      </p>
      <p>
        <form class="form-inline" action="/campgrounds" method="GET">
          <div class="form-group">
            <input type="text" name="search" class="form-control" placeholder="Campground search ..">
            <button type="submit" class="btn btn-md btn-default" name="button">Search</button>
          </div>
        </form>
      </p>
    </div>
  </header>

     <div class="row text-center flex-custom" id="campground-grid">
        <% campgrounds.forEach(function(campground){ %>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <img  class= "" src="<%= campground.image %>">
              <div class="caption"><%= campground.name %></div>
              <p><a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a></p>
            </div>

          </div>
        <% }); %>
      </div>


<% include ../partials/footer %>
